/* src/App.css */
/* Safe to use with Tailwind CSS */

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f3f4f6;
}
